<div class="container-fluid">
<div id="quiz" class="row" style="    margin-top: 6%;">
    
<div class="col-sm-12"><h1 class="center">{{quiz.name}}</h1></div>
    <div ng-show="mode=='quiz'" class="col-md-8">
    	      <div  ng-repeat="instruction in filteredQuestionsInstruction">
            
            <div class="questiondesc" ng-if="instruction.type=='words'">
                <p>{{instruction.Id}}. {{instruction.descheading}}</p>
                <div class="options">
                    <ul  type="number">
                        <li ng-repeat="description in instruction.desc">{{description.statement}}</li>
                    </ul>
                </div>
            </div>
            <div ng-if="instruction.type=='img'">
            <img ng-src="../../img/{{instruction.imgurl}}">
            </div>
        </div>
    	
        <div ng-repeat="question in filteredQuestions">
            <div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>
            <div class="question">
                <p>{{currentPage}}. {{question.Name}}</p>
                <div class="options">
                    <div ng-repeat="option in question.Options">
                        <label for="{{option.Id}}">
                            <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected" ng-change="onSelect(question, option);" />
                            {{option.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="quizNav">
            <div>
                <button class="btn btn-success" ng-show="config.allowBack" ng-click="goTo(1);">First</button>
                <button class="btn btn-danger" ng-show="config.allowBack" ng-click="goTo(currentPage - 1);">Prev</button>
                <button class="btn btn-danger"                            ng-click="goTo(currentPage + 1);">Next</button>
                <button class="btn btn-success" ng-show="config.allowBack" ng-click="goTo(totalItems);">Last</button>
                <button class="btn btn-success" ng-show="config.allowBack" ng-click="markedReview();">Mark for Review</button>
            </div>
            <br />
            <pagination ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <div class="review col-md-4" ng-show="mode=='quiz'" >
    <div class="label label-warning" style="display:block;    text-align: -webkit-right;"><p class="timer-block">{{h}}h :{{m}}m: {{s}}S</p></div>
    <div class="label label-warning" style="display:block;">Review Your Answer</div>
    
        <div ng-repeat="question in questions">
            <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered':(isAnswered($index) == 'Reviewed' ? 'Reviewed' : 'not-answered')  }}">{{$index + 1}}</div>
        </div>
    </div>

    
    <div class="col-md-12" ng-show="mode!='result'" style="text-align:center;">
        <hr>
        
        <button class="btn btn-success" ng-click="onSubmit();">Submit Quiz</button>
    </div>
</div>
</div>